xml/circuito.dtd

<!ELEMENT circuito (nombre, longitudTotal, anchura, fecha, vueltas, localidad,
pais, patrocinador, referencias, fotografias, videos, origen, tramos, 
vencedor, clasificacion)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT longitudTotal (#PCDATA)>
<!ELEMENT anchura (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT vueltas (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>
<!ELEMENT piloto (#PCDATA)>
<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia (#PCDATA)>
<!ELEMENT fotografias (fotografia+)>
<!ELEMENT fotografia (#PCDATA)>
<!ELEMENT videos (video+)>
<!ELEMENT video (#PCDATA)>
<!ELEMENT origen (punto)>
<!ELEMENT punto (longitud, latitud, altitud)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT altitud (#PCDATA)>
<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (punto+)>
<!ELEMENT vencedor (#PCDATA)>
<!ELEMENT clasificacion (piloto+)>

<!ATTLIST longitudTotal unidad CDATA #REQUIRED>
<!ATTLIST anchura unidad CDATA #REQUIRED>
<!ATTLIST fecha dia CDATA #REQUIRED>
<!ATTLIST fecha hora CDATA #REQUIRED>
<!ATTLIST latitud unidad CDATA #REQUIRED>
<!ATTLIST longitud unidad CDATA #REQUIRED>
<!ATTLIST altitud unidad CDATA #REQUIRED>
<!ATTLIST tramo name CDATA #REQUIRED>
<!ATTLIST tramo distancia CDATA #REQUIRED>
<!ATTLIST tramo unidad CDATA #REQUIRED>
<!ATTLIST tramo sector CDATA #REQUIRED>
<!ATTLIST vencedor duracion CDATA #REQUIRED>
<!ATTLIST piloto posicion CDATA #REQUIRED>
<!ATTLIST piloto puntos CDATA #REQUIRED>
<!ATTLIST referencia alt CDATA #REQUIRED>
<!ATTLIST fotografia alt CDATA #REQUIRED>
<!ATTLIST video alt CDATA #REQUIRED>