xml/circuito.dtd

<!ELEMENT circuito (nombre, longitud, anchura, fecha, vueltas, localidad,
pais, patrocinador, referencias, fotografias, videos, origen, tramos, 
vencedor, clasificacion)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT anchura (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT vueltas (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>
<!ELEMENT piloto (#PCDATA)>
<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia (#PCDATA)>
<!ELEMENT fotografias (fotografia+)>
<!ELEMENT fotografia (#PCDATA)>
<!ELEMENT videos (video+)>
<!ELEMENT video (#PCDATA)>
<!ELEMENT origen (punto)>
<!ELEMENT punto (#PCDATA)>
<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (punto+)>

<!ELEMENT vencedor (#PCDATA)>
<!ELEMENT clasificacion (piloto+)>

<!ATTLIST longitud unidad CDATA #REQUIRED>
<!ATTLIST anchura unidad CDATA #REQUIRED>
<!ATTLIST fecha dia CDATA #REQUIRED>
<!ATTLIST fecha hora CDATA #REQUIRED>
<!ATTLIST referencia ref CDATA #REQUIRED>
<!ATTLIST fotografia ruta CDATA #REQUIRED>
<!ATTLIST video ruta CDATA #REQUIRED>
<!ATTLIST punto latitud CDATA #REQUIRED>
<!ATTLIST punto longitud CDATA #REQUIRED>
<!ATTLIST punto altitud CDATA #REQUIRED>
<!ATTLIST tramo name CDATA #REQUIRED>
<!ATTLIST tramo metros CDATA #REQUIRED>
<!ATTLIST tramo sector CDATA #REQUIRED>
<!ATTLIST vencedor duracion CDATA #REQUIRED>
<!ATTLIST piloto posicion CDATA #REQUIRED>
<!ATTLIST piloto puntos CDATA #REQUIRED>