xml/circuito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.uniovi.es" elementFormDefault="qualified" 
targetNamespace="http://www.uniovi.es" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="circuito">
		<xs:complexType> 
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" ref="nombre" />
				<xs:element minOccurs="1" maxOccurs="1" ref="longitudTotal" />
				<xs:element minOccurs="1" maxOccurs="1" ref="anchura" />
				<xs:element minOccurs="1" maxOccurs="1" ref="fecha" />
				<xs:element minOccurs="1" maxOccurs="1" ref="vueltas" />
				<xs:element minOccurs="1" maxOccurs="1" ref="localidad" />
				<xs:element minOccurs="1" maxOccurs="1" ref="pais" />
				<xs:element minOccurs="1" maxOccurs="1" ref="patrocinador" />
				<xs:element minOccurs="1" maxOccurs="1" ref="referencias" />
				<xs:element minOccurs="1" maxOccurs="1" ref="fotografias" />
				<xs:element minOccurs="1" maxOccurs="1" ref="videos" />
				<xs:element minOccurs="1" maxOccurs="1" ref="origen" />
				<xs:element minOccurs="1" maxOccurs="1" ref="tramos" />
				<xs:element minOccurs="1" maxOccurs="1" ref="vencedor" />
				<xs:element minOccurs="1" maxOccurs="1" ref="clasificacion" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nombre" type="xs:string" />
	<xs:element name="longitudTotal">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attribute name="unidad" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="anchura">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attribute name="unidad" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fecha" type="xs:dateTime">
	</xs:element>
	<xs:element name="vueltas">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
            <xs:minInclusive value="20"/>
            <xs:maxInclusive value="40"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
	<xs:element name="localidad" type="xs:string" />
	<xs:element name="pais" type="xs:string" />
	<xs:element name="patrocinador" type="xs:string" />
	<xs:element name="piloto">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="posicion" use="required" >
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
					<xs:attribute name="puntos" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="700"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="referencias">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="referencia" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="referencia">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="alt" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fotografias">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="3" maxOccurs="5" ref="fotografia" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fotografia">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="alt" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="videos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="3" ref="video" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="video">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="alt" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="origen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="punto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="punto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="latitud" />
				<xs:element ref="longitud" />
				<xs:element ref="altitud" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="latitud">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="latitudRest">
                    <xs:attribute name="unidad" type="xs:string" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="latitudRest">
        <xs:restriction base="xs:float">
          <xs:minInclusive value="-90.0" />
          <xs:maxInclusive value="90.0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="longitud">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="longitudRest">
                    <xs:attribute name="unidad" type="xs:string" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="longitudRest">
        <xs:restriction base="xs:float">
          <xs:minInclusive value="-180.0" />
          <xs:maxInclusive value="180.0" />
        </xs:restriction>
    </xs:simpleType>
	<xs:element name="altitud">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="altitudRest">
					<xs:attribute name="unidad" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
    <xs:simpleType name="altitudRest">
        <xs:restriction base="xs:float">
          <xs:minInclusive value="0.0" />
          <xs:maxInclusive value="4500.0" />
        </xs:restriction>
    </xs:simpleType>
	<xs:element name="tramos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="tramo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tramo">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" ref="punto" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="distancia" use="required" >
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0.0"/>
                        <xs:maxInclusive value="1500.0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
			<xs:attribute name="unidad" type="xs:string" use="required" />
			<xs:attribute name="sector" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="vencedor">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="duracion" type="xs:duration" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="clasificacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="3" ref="piloto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>